<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/shards.min.css" />
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/bootstrap-datepicker.min.css" />
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/tachyons.min.css" />
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/styles.css" />
        <link rel="icon" type="image/png" href="{{ base_url() }}/assets/img/favicon.png">
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/slick.css"/>
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/slick-theme.css"/>
    </head>
    <body>
      <header>
        {% include('header.html.twig') %}
      </header>
      <div id="content">
      <div class="page-container">{% block content %}{% endblock %}</div>
      </div>
      <div id="footer">{% include('footer.html.twig') %}</div>
      {% include('modals.html.twig') %}
    </body>
    <script src="{{ base_url() }}/assets/js/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="{{ base_url() }}/assets/js/popper.min.js" charset="utf-8"></script>
    <script src="{{ base_url() }}/assets/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="{{ base_url() }}/assets/js/bs-custom-file-input.min.js" charset="utf-8"></script>
    <script src="{{ base_url() }}/assets/js/jquery.mask.min.js" charset="utf-8"></script>
    <script src="{{ base_url() }}/assets/js/bootstrap-datepicker.min.js" charset="utf-8"></script>
    <script src="{{ base_url() }}/assets/js/slick.min.js" charset="utf-8"></script>
    <script src="{{ base_url() }}/assets/js/validations/editProduct.js" charset="utf-8"></script>
    <script src="{{ base_url() }}/assets/js/validations/uploadProduct.js" charset="utf-8"></script>
    <script src="{{ base_url() }}/assets/js/validations/validateLogin.js" charset="utf-8"></script>
    <script src="{{ base_url() }}/assets/js/validations/validateProfile.js" charset="utf-8"></script>
    <script src="{{ base_url() }}/assets/js/validations/validateUser.js" charset="utf-8"></script>
    <script src="{{ base_url() }}/assets/js/ajax.js" charset="utf-8"></script>
</html>
